@page
@model PBKK_Quiz_1.Pages.q1.collaboration.IndexModel
@{
    ViewData["Title"] = "Collaboration";
}

<div class="service-1" id="webdev">
    <div class="custom-container">
        <div class="cust-row">
            <div class="col-md-6">
                <div class="custom-column" style="max-width: 555px; float: right;">
                    <div class="service-1-header" style="margin-left: 30px;">
                        <h1>
                            Collaboration
                        </h1>
                        <div style="line-height: 30px; font-size: 16px;">
                            Together, we could collaborate to create the most compelling application.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="custom-column" style="float: right; width: inherit;">
                    <div class="service-1-img" style="width: inherit;">
                        <img style="width: inherit; margin-right: 15px;" src="/img/collaboration.png" />
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@*<div class="service-2-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="custom-column">
                    <div>
                        <h5>What will you get from this partnership?</h5>
                    </div>
                    <div style="color: #525f7f; text-align: left; margin-bottom: 45px;">
                        As a businessman, of course you don't want to lose potential customers who struggle with their
                        cellphones for hours every day, right?! The use of smart phones worldwide is currently estimated
                        at 2 billion.
                        <br><br>
                        With the mobile application, the information that is spread will be quickly received by mobile users,
                        besides having faster performance, the mobile application only has 1 domain and is more visually appealing.
                        Users have full access to mobile devices, such as cameras, gestures, notifications, speakers and
                        other features, as well as guaranteed quality security.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

<div class="custom-container">
    <div class="cust-row">
        <div class="col-md-12">
            <div class="m-auto justify-content-center align-content-center" style="max-width: 50%;">
                <div class="home-needs-desc">
                    <h5 class="text-center">What will you get from this partnership?</h5>
                </div>
                <ul style="font-size: larger; margin-bottom: 70px;">
                    <li class="m-2">Blog post announcing partnership</li>
                    <li class="m-2">Social media mentions</li>
                    <li class="m-2">Email mention</li>
                    <li class="m-2">Advertising spot</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="service-2-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="custom-column">
                    <div style="color: #525f7f; text-align: left; margin-bottom: 45px;">
                        Send your proposal to <a href="mailto:contact@octagram.com?subject=Inquiry%20for%20Tectagon&amp;body=Hi%20Octagram%21">contact@octagram.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>