@page
@model PBKK_Quiz_1.Pages.q1.company.IndexModel
@{
    ViewData["Title"] = "Company";
}

<div class="text-center">
    <h1 class="display-4">Company</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>