@page
@model PBKK_Quiz_1.Pages.q1.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="section-1">
    <div class="container" style="margin-right: auto;">
        <div class="row">
            <div class="col-md-6">
                <h1 style="margin: 0 0 8px;">Octagram</h1>
                <div style="line-height: 30px; font-size: 16px;">
                    Combining creativity, strategy and technology to create perfect apps is how we work
                </div>
            </div>
        </div>
    </div>
</div>

<div class="m-auto text-center">
    <div class="section-2-header col-md-12">
        <div class="mr-auto">
            <h1>Services Information</h1>
            <div style="font-family: 'Open Sans',sans-serif; color: #525f7f;">
                Fast Implementation | According needs
            </div>
        </div>
    </div>

</div>
<div class="back-section-2">
    <div class="container">
        <div class="row">
            <div class="col-md-5" style="position: relative; z-index: 1; width: 100%;"></div>
            <div class="col-md-7">
                <div class="flex-column">
                    <div class="our-services">
                        <img src="~/img/layanan-web-dev.jpg" alt="Web Development">
                        <div style="margin: 15px 0 5px 0;color: #111;font-size: 18px;font-weight: bold;line-height: 25px;">
                            Web Development
                        </div>
                        <div style="min-height: 50px;">
                            eCommerce, Event, Company Profile
                        </div>
                        <a class="button" asp-area="" asp-page="service" >See More</a>
                    </div>
                    <div class="our-services">
                        <img src="~/img/layanan-mobile-apps.jpg" alt="Mobile Application">
                        <div style="margin: 15px 0 5px 0;color: #111;font-size: 18px;font-weight: bold;line-height: 25px;">
                            Mobile Application
                        </div>
                        <div style="min-height: 50px;">
                            iOS, Android
                        </div>
                        <a class="button" asp-area="" asp-page="service">See More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-3">
    <div class="custom-container">
        <div class="cust-row">
            <div class="col-md-7">
                <div class="custom-column" style="max-width: 85%; float: right;">
                    <div class="home-needs-desc">
                        <h1>Always Understand Your Needs</h1>
                    </div>
                    <div class="home-needs" style="margin-top: 35px;">
                        <img src="/img/icon01.jpg" />
                        <div>Best solution follows trend</div>
                    </div>
                    <div class="home-needs">
                        <img src="/img/icon02.jpg" />
                        <div>Work quickly and precisely according to the estimated time</div>
                    </div>
                    <div class="home-needs">
                        <img src="/img/icon03.jpg" />
                        <div>Delivering results beyond expectations</div>
                    </div>
                    <div class="home-needs">
                        <img src="/img/icon04.jpg" />
                        <div>Supported by a team of experts who are always ready to help</div>
                    </div>
                </div>
            </div>
            <div class="cust-col-md-6 col-md-5">
                <div class="custom-column" style="float: right; width: 100%;">
                    <div class="service-2-img" style="width: inherit;">
                        <img style="width: inherit;" src="/img/image01.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>