@page
@model PBKK_Quiz_1.Pages.q1.profile.IndexModel
@{
    ViewData["Title"] = "Profile";
}

<div class="section-3">
    <div class="custom-container">
        <div class="cust-row">
            <div class="col-md-12">
                <div class="m-auto justify-content-center align-content-center" style="max-width: 50%;">
                    <div class="home-needs-desc">
                        <h1 class="text-center">Profile</h1>
                    </div>
                    <div style="font-size: larger; margin-bottom: 70px;">
                        Octagram is a company that provides services,
                        namely web development and mobile application creation.
                        Octagram is a trusted company that provides the best service to clients.
                        <br><br>
                        Octagram was founded by Stefanus Albert Kosim in 2022,
                        and includes a team of design, Internet and media veterans.
                        Octagram teams have created and developed a splendid mobile application
                        and web application. Octagram is based in Keputih.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>