@page
@model PBKK_Quiz_1.Pages.q1.profile.IndexModel
@{
    ViewData["Title"] = "Profile";
}

<div class="section-3">
    <div class="custom-container">
        <div class="cust-row">
            <div class="col-md-12">
                <div class="m-auto justify-content-center align-content-center" style="max-width: 50%;">
                    <div class="home-needs-desc">
                        <h1 class="text-center">Profile</h1>
                    </div>
                    <div style="font-size: larger; margin-bottom: 70px;">
                        Octagram is a company that provides services,
                        namely web development and mobile application creation.
                        Octagram is a trusted company that provides the best service to clients.
                        <br><br>
                        Octagram was founded by Stefanus Albert Kosim in 2022,
                        and includes a team of design, Internet and media veterans.
                        Octagram teams have created and developed a splendid mobile application
                        and web application. Octagram is based in Keputih.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" style="">
    <div style="color: #525f7f; text-align: center; margin-bottom: 45px; font-size: larger;">
        Ready to start the digital evolution?
        <br>
        Help us to understand your business goals and product requirements for maximum results.
    </div>
    <div class="contact col-md-3" style="text-align: left;">
        <h5 style="margin-bottom: 10px;">Octagram</h5>
        <p style="margin-bottom: 10px;">
            Teknik Kimia Street - Teknik Informatika Departement Building
            Campus Institut Teknologi Sepuluh Nopember Surabaya
            Highway ITS, Sukolilo, Surabaya 60111, Indonesia
        </p>
        <div class="telp">
            <p><img src="~/img/icon-call.jpg" /> <a href="https://api.whatsapp.com/send?phone=6281233226699&amp;text=Hi%20Octagram%21">+62 812-3322-6699</a></p>
        </div>
        <div class="mail">
            <p><img src="~/img/icon-mail.jpg" /> <a href="mailto:contact@octagram.com?subject=Inquiry%20for%20Tectagon&amp;body=Hi%20Octagram%21">contact@octagram.com</a></p>
        </div>
    </div>
</div>