@page
@model PBKK_Quiz_1.Pages.q1.service.IndexModel
@{
    ViewData["Title"] = "Services";
}

<div class="service-1" id="webdev">
    <div class="custom-container">
        <div class="cust-row">
            <div class="col-md-6">
                <div class="custom-column" style="max-width: 555px; float: right;">
                    <div class="service-1-header">
                        <h1 style="margin-left: 30px;">
                            Web<br>
                            Development<br>
                            Service
                        </h1>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="custom-column" style="float: right; width: inherit;">
                    <div class="service-1-img" style="width: inherit;">
                        <img style="width: inherit; margin-right: 15px;" src="/img/header-image.png" />
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="service-1-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="custom-column">
                    <div style="color: #525f7f; text-align: left; margin-bottom: 45px;">
                        In the millennial era, the website is now turning its function into a key to the success of a business, many people open online stores instead of offline stores, besides not having to pay rent, the reach of potential consumers is also wide, and transactions can be done anywhere and anytime.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="custom-column">
                    <div style="margin-bottom: 45px;">
                        <div style="font-size: 18px; line-height: 25px; color: #111;">
                            Company Profile
                        </div>
                        <div style="background-color: #1DCE6C; width: 26%; height: 2px; margin: 15px 0;">
                            &nbsp;
                        </div>
                        <div style="color: #525F7F; line-height: 24px;">
                            A brief description of a company can reflect the quality and work focus of a company
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="custom-column">
                    <div style="margin-bottom: 45px;">
                        <div style="font-size: 18px; line-height: 25px; color: #111;">
                            eCommerce
                        </div>
                        <div style="background-color: #1DCE6C; width: 26%; height: 2px; margin: 15px 0;">
                            &nbsp;
                        </div>
                        <div style="color: #525F7F; line-height: 24px;">
                            One form of practical and effective business venture
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="custom-column">
                    <div style="margin-bottom: 45px;">
                        <div style="font-size: 18px; line-height: 25px; color: #111;">
                            Event
                        </div>
                        <div style="background-color: #1DCE6C; width: 26%; height: 2px; margin: 15px 0;">
                            &nbsp;
                        </div>
                        <div style="color: #525F7F; line-height: 24px;">
                            A special website for joint event providers carried out by several companies
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="service-2" id="android">
    <div class="custom-container">
        <div class="cust-row">
            <div class="col-md-6">
                <div class="custom-column" style="max-width: 555px; float: right;">
                    <div class="service-2-header">
                        <h1 style="margin-left: 30px;">
                            Mobile<br>
                            Application<br>
                            Service
                        </h1>
                    </div>
                </div>
            </div>
            <div class="cust-col-md-6 col-md-6 ">
                <div class="custom-column" style="float: right; width: 100%;">
                    <div class="service-2-img" style="width: inherit;">
                        <img style="width: inherit;" src="/img/header-image_2.png" />
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="service-2-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="custom-column">
                    <div style="color: #525f7f; text-align: left; margin-bottom: 45px;">
                        As a businessman, of course you don't want to lose potential customers who struggle with their
                        cellphones for hours every day, right?! The use of smart phones worldwide is currently estimated
                        at 2 billion.
                        <br><br>
                        With the mobile application, the information that is spread will be quickly received by mobile users,
                        besides having faster performance, the mobile application only has 1 domain and is more visually appealing.
                        Users have full access to mobile devices, such as cameras, gestures, notifications, speakers and
                        other features, as well as guaranteed quality security.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>